.hidden {
    display: none;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

h2#clock {
    font: bold 80px sans-serif;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form#login-form,
h1 {
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap;
    color: white;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#quote span {
    width: 1000px;
    height: auto;
    overflow:hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    color: white;
}

div#todo-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0%);
}

form#todo-form input {
    width: 200px;
    height: 25px;
}

ul#todo-list {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#todo-list > li {
    display: block;
    margin: 0;
}

ul#todo-list > li > button {
    padding: 5px;
    background: none;
    border: none;
}

div#weather span {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: right;
    display: block;
    margin-right: 10px;
}

div#weather {
    text-align: right;
}

